* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: monospace, "Lucida Console", serif;
}
.title {
    display: flex;
    justify-content: center;
    background-color: indigo;
    color: lavender;
    margin: auto;
    width: 900px;
}
.image {
    display: flex;
    justify-content: center;
    width: 850px;
    margin: auto;
}
.link-container {
    display: flex;
    justify-content: center;
    background-color:cadetblue;
    width: 900px;
    margin: auto;
}
.links {
    display: flex;
    justify-content:space-between;
    width: 75%;
    height: 200px;
    align-items: center;
    margin: auto;
}
.coffee,
.cigarettes, 
.lemon-pie {
    padding: 10px;
    background-color: violet;
    color: white;
}